@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurante Prato Feito</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a  class="btn btn-info btn-lg" href="/Pratos">Pratos</a></p>
        <p><a  class="btn btn-info btn-lg" href="/Pedidos">Pedidos</a></p>
        <p><a class="btn btn-info btn-lg"  href="~/Views/Pratos/">Pratos</a></p>
    </div>
</div>